
<div container>
    <h1>Node app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime odio, exercitationem reiciendis perspiciatis atque fuga suscipit mollitia iusto quae labore?</p>
</div>