<header class="header">
    <nav class="nav-menu">
        <ul class="bold">
            <a href="/" class="bold">Notes-app</a>
            <a href="/">Inicio</a>
            <a href="/about">Acerca</a>
        </ul>
        <ul>
            <a href="#">Inicia Sesion</a>
            <a href="#">Registrate</a>
        </ul>
    </nav>
</header>