<div class="container-note">
    <h3>Nueva nota</h3>
<form action="/notes/new-note" method="POST" class="add-note">
    <input type="text" name="title" placeholder="Titulo" class="input-title" autocomplete="off" autofocus>
    <textarea name="description" placeholder="Descripcion" class="input-description"></textarea>
    <button class="input-btn">GUARDAR</button>
</form>
</div>